<div class="container">
  <h1>Edit Profile</h1><br>

  <form action="/accounts/<%= @user.username %>/edit" method="post">
    <input type="hidden" name="_method" value="put">

    First Name: <input type="text" name="first_name" value="<%= @user.first_name %>"><br>
    Last Name: <input type="text" name="last_name" value="<%= @user.last_name %>"><br>
    Username: <input type="text" name="username" value="<%= @user.username %>"><br>
    Email: <input type="email" name="email" value="<%= @user.email %>"><br>
    Password: <input type="password" name="password" value="<%= @user.password %>"><br>
    <input type="submit" value="Submit">
  </form>
</div>
