<div class="container">
  <% if @name == nil %>
    <h2><%= @user.username %> </h2>
  <% else %>
    <h2><%= @user.name %> </h2>
  <% end %>

  <div class="profile_info">
    <p>Username: <%= @user.username %></p>
    <p>Name: <%= @user.first_name + " " + @user.last_name %></p>
    <!-- # <p>Email: <%= @user.email %></p> -->
    <a href="/accounts/<%= @user.username %>/edit">edit</a>
    <a href="/accounts/<%= @user.username %>/delete">delete your account</a>

  </div>

  <div class="albums_container">
    TESTING ALBUMS CONTAINER
  </div>

</div>